.button {
    -fx-font-weight: bold;
}
.d:hover{
    -fx-border-color: #990099;
    -fx-border-width: 0px 0px 3px 0px;
}
.p:hover{
    -fx-border-color: #009966;
    -fx-border-width: 0px 0px 3px 0px;
}
.r:hover{
    -fx-border-color: #cc0033;
    -fx-border-width: 0px 0px 3px 0px;
}
.h{
    -fx-border-radius: 3px;
        -fx-border-color: black;
  -fx-background-color: #ffffff;
   -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
       -fx-background-radius: 3px;
   }
.h:hover{
   -fx-background-color: #f8ecc2;
}
.listeRepas{
    -fx-border-radius: 3px;
        -fx-border-color: black;
           -fx-background-color: #cbc4c3;
   -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
       -fx-background-radius: 3px;
}
.img{
           -fx-background-radius: 3px;
               -fx-border-radius: 3px;
}

.imageRepas{
       -fx-background-radius: 3px;
       -fx-border-radius: 3px;
}


.imageOval{
        -fx-border-radius: 50px;
}

.btn{
    -fx-background-color: green;
}

.btnError{
   -fx-background-color: red;
}

.updateForm{
    -fx-background-color: white;
    -fx-border-radius: 50px;
}

.confirmer{
    -fx-border-radius: 25px;
    -fx-border-color: #27ae60;
    -fx-font-size: 14px;
}
.confirmer:hover{
    -fx-background-color: #27ae60;
}
.afficher{
    -fx-border-radius: 25px;
    -fx-border-color: #f1c40f;
    -fx-font-size: 14px;
}
.afficher:hover{
    -fx-background-color: #f1c40f;
}
.tracker{
    -fx-border-radius: 25px;
    -fx-border-color: #c0392b;
    -fx-font-size: 14px;
}
.tracker:hover{
    -fx-background-color: #c0392b;
}

.adresse:focus{
    -fx-background-color: #c0392b;
}
